* {
    margin: 0;
    padding: 0;
}

.navbar{
    height: 120px;
	font-weight: 400;
	background-color: #A3BCC0;
}

.nav-link {
    color: #735443;
    font-size: bold;
    font-size: large;
}

#map {
    height: 500px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 135px -23px rgba(0,0,0,0.75);
}

a {
    text-decoration: none;
    color: black;
}

.blockquote {
    font-family: 'Playfair','Playfair Display', 'Roboto', serif;
    font-size: 35px;
}

.btn {
    background-color: #F4D4BD;
}

.carousel-inner > .carousel-item > img {
    width: 700px;
    height: 400px; 
}

.carousel-title {
    background-color: #F4D4BD;
    color: black;
}

.carousel-text {
    background-color: #F4D4BD;
    color: black;
    height: 30px;
}

.anchor-popup {
    outline: none;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
    background-color: rgb(239, 239, 196);
    position: relative;
    outline: none;
    transform: rotate(45deg);
    -webkit-appearance: none;
}

input[type="checkbox"]:before {
    position:absolute;
    content: "";
    background-color: rgb(239, 239, 196);
    height: 60%;
    width: 100%;
    top: -59%;
    outline: none;
    border-radius: 75px 75px 0px 0px;
}

input[type="checkbox"]:after {
    position: absolute;
    content: "";
    background-color: rgb(239, 239, 196);
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 75px 75px 0px 0px;
    outline: none;
    top: 20%;
    right: 79%;
}

input[type="checkbox"]:checked, input:checked[type="checkbox"]:before, input:checked[type="checkbox"]:after{
    background-color: #fe0f42;
    border-color: #fe0f42;
}

#destacar {
    font-size: 20px;
}

footer {
    background-color: #A3BCC0;
}